<a href="https://colab.research.google.com/github/Fatima-Usf/Youtube_sentiment_analysis/blob/main/youtube_sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb #to visualise data
from textblob import TextBlob

# Loading data

In [4]:
yt_comments = pd.read_csv("GBcomments.csv", error_bad_lines=False) #error_bad_lines to fix 'ParserError' because our data contain lines with too many fields

b'Skipping line 113225: expected 4 fields, saw 5\n'
b'Skipping line 158379: expected 4 fields, saw 7\n'

In [5]:
yt_comments.head()

      video_id  ... replies
0  jt2OHQh0HoQ  ...     0.0
1  jt2OHQh0HoQ  ...     0.0
2  jt2OHQh0HoQ  ...     0.0
3  jt2OHQh0HoQ  ...     0.0
4  jt2OHQh0HoQ  ...     0.0

[5 rows x 4 columns]

In [12]:
yt_comments.isna().sum() #checking missing values by getting the summation of all the missing values available

video_id         0
comment_text    12
likes            1
replies          1
dtype: int64

In [13]:
# Dropping the missing values
yt_comments.dropna(inplace=True) # inplace to keep the DF with valid entries in the same variable

In [15]:
#Getting the polarity of comments
sentiment_polarity =[]
for i in yt_comments["comment_text"]:
  sentiment_polarity.append(TextBlob(i).sentiment.polarity)

In [16]:
# Adding the polarity list to my dataframe as a new column
yt_comments['Polarity']=sentiment_polarity

In [19]:
#displaying the new dataframe
yt_comments.head(10)

      video_id  ...  Polarity
0  jt2OHQh0HoQ  ...  0.450000
1  jt2OHQh0HoQ  ...  0.000000
2  jt2OHQh0HoQ  ...  0.000000
3  jt2OHQh0HoQ  ...  0.000000
4  jt2OHQh0HoQ  ...  1.000000
5  jt2OHQh0HoQ  ...  0.300000
6  jt2OHQh0HoQ  ...  0.000000
7  jt2OHQh0HoQ  ... -0.100000
8  jt2OHQh0HoQ  ...  0.028571
9  jt2OHQh0HoQ  ...  0.500000

[10 rows x 5 columns]