<a href="https://colab.research.google.com/github/Fatima-Usf/Youtube_sentiment_analysis/blob/main/youtube_sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb #to visualise data
from textblob import TextBlob

# Loading data

In [6]:
yt_comments = pd.read_csv("GBcomments.csv", error_bad_lines=False) #error_bad_lines to fix 'ParserError' because our data contain lines with too many fields

In [7]:
yt_comments.head()

      video_id  ... replies
0  jt2OHQh0HoQ  ...     0.0
1  jt2OHQh0HoQ  ...     0.0
2  jt2OHQh0HoQ  ...     0.0
3  jt2OHQh0HoQ  ...     0.0
4  jt2OHQh0HoQ  ...     0.0

[5 rows x 4 columns]

# Data preprocessing

In [8]:
yt_comments.isna().sum() #checking missing values by getting the summation of all the missing values available

video_id        0
comment_text    7
likes           1
replies         1
dtype: int64

In [9]:
# Dropping the missing values
yt_comments.dropna(inplace=True) # inplace to keep the DF with valid entries in the same variable

# Applying TextBlob library to get the polarity

In [10]:
#Getting the polarity of comments
sentiment_polarity =[]
for i in yt_comments["comment_text"]:
  sentiment_polarity.append(TextBlob(i).sentiment.polarity)

In [11]:
# Adding the polarity list to my dataframe as a new column
yt_comments['Polarity']=sentiment_polarity

# Displaying the result ( DF with polarity )

In [12]:
#displaying the new dataframe
yt_comments.head(10)

      video_id  ...  Polarity
0  jt2OHQh0HoQ  ...  0.450000
1  jt2OHQh0HoQ  ...  0.000000
2  jt2OHQh0HoQ  ...  0.000000
3  jt2OHQh0HoQ  ...  0.000000
4  jt2OHQh0HoQ  ...  1.000000
5  jt2OHQh0HoQ  ...  0.300000
6  jt2OHQh0HoQ  ...  0.000000
7  jt2OHQh0HoQ  ... -0.100000
8  jt2OHQh0HoQ  ...  0.028571
9  jt2OHQh0HoQ  ...  0.500000

[10 rows x 5 columns]

Filtering positives /negatives comments

In [13]:
#Displaying just positive opinion
positives_comments = yt_comments[yt_comments['Polarity']==1]

In [14]:
positives_comments.shape # display how many lines & columns on positives data

(1648, 5)

In [15]:
positives_comments.head()

        video_id  ... Polarity
4    jt2OHQh0HoQ  ...      1.0
26   jt2OHQh0HoQ  ...      1.0
80   jt2OHQh0HoQ  ...      1.0
158  YPVcg45W0z4  ...      1.0
175  YPVcg45W0z4  ...      1.0

[5 rows x 5 columns]