<a href="https://colab.research.google.com/github/Fatima-Usf/Youtube_sentiment_analysis/blob/main/youtube_sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb #to visualise data
from textblob import TextBlob

In [4]:
yt_comments = pd.read_csv("GBcomments.csv", error_bad_lines=False) #error_bad_lines to fix -> 'ParserError' because our data contain lines with too many fields

b'Skipping line 113225: expected 4 fields, saw 5\n'
b'Skipping line 158379: expected 4 fields, saw 7\n'

In [5]:
yt_comments.head()

      video_id  ... replies
0  jt2OHQh0HoQ  ...     0.0
1  jt2OHQh0HoQ  ...     0.0
2  jt2OHQh0HoQ  ...     0.0
3  jt2OHQh0HoQ  ...     0.0
4  jt2OHQh0HoQ  ...     0.0

[5 rows x 4 columns]

In [12]:
yt_comments.isna().sum() #checking missing values by getting the summation of all the missing values available

video_id         0
comment_text    12
likes            1
replies          1
dtype: int64

In [13]:
# Dropping the missing values
yt_comments.dropna(inplace=True) # inplace to keep the DF with valid entries in the same variable